* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1422466654108-5e533f591881?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8bGFuZHNjYXBlfHx8fHx8MTY4MDUyODEzMQ&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600);
}

.caixa-maior{
    background: black;
    opacity: 0.8;
    border-radius: 25px;
    padding: 25px;
}

.input-cidade{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    background-color: white;
    color: white;
    width: calc(100% - 50px);
    

}
 .botao-buscar{
    border: none;
    outline: none;
    background-color: white;
    cursor: pointer;
    padding: 8px;
    border-radius: 40px;
    float: right;
    

 }

 .img-buscar{
    width: 20px;
    display: flex;
    justify-content: center;
 }