* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/clima.jpg);
}

.caixa-maior{
    background: black;
    opacity: 0.8;
    border-radius: 25px;
    padding: 25px;
    width: 95%;
    max-width: 450px;
}

.caixa-media{
    margin-top: 30px;
}

.input-cidade{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    background-color: white;
    color: white;
    width: calc(100% - 50px);
    

}
 .botao-buscar{
    border: none;
    outline: none;
    background-color: white;
    cursor: pointer;
    padding: 8px;
    border-radius: 40px;
    float: right;
    

 }

 .img-buscar{
    width: 20px;
    display: flex;
    justify-content: center;
 }

 .cidade{
    color: white;
    font-size: 20px;
    font-weight: 300;
 }

 .temp{
    font-size: 20px;
    color: white;
    margin-top: 20px;
 }

 .caixa-menor {
    display: flex;
    align-items: center;
    margin-top: 20px;

 }

 .texto-previsao{
    color: white;
    margin-left: 20px;
 }

 .umidade-previsao{
    color: white;
    margin-top: 20px;
 }